body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
    margin: 0;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding: 1em 0.5em;
}

#sidebar > div > a {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-bottom: 1em;
    text-decoration: none;
}

#sidebar > div svg {
    justify-self: center;
}

#sidebar h1,p {
    color: white;
}

#sidebar p {
    font-size: 1.2em;
    margin: 0;
}

#sidebar > #sb-title {
    margin-bottom: 3em;
}

#sb-title p {
    font-size: 1.8em;
}

#sidebar .flex-gap {
    flex: 1;
}

#main-cont {
    display: grid;
    grid-template-rows: 2fr 3fr 18fr;
}

nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px 30px;
    background-color: #ffffff;
}

nav ul {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    list-style: none;
    margin: 0;
}

nav ul img {
    height: 40px;
    border-radius: 50%;
}

nav ul li {
    color: black;
}

nav input {
    appearance: none;
    width: max(80%, 120px)
}

nav form {
    display: flex;
    align-items: center;
}

nav form > input[type="search"] {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #d9d9d9;
}

nav form > input[type="search"]:focus {
    outline-style: solid;
    outline-color: #3c6e71;
    outline-width: 2px;
}

nav form > svg {
    margin-right: 20px;
}